* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #d0aeee;
    background: radial-gradient(circle, rgba(208, 174, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

canvas {
    box-shadow: 0 0 20px black;
    border-radius: 5px;
}

.wrapper, .canvasBox, .control {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 2rem;
}

.canvas, .control {
    justify-content: center;
}

.btn {
    width: 200px;
    border-radius: 25px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgb(4, 243, 203);
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}